<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.MemberMapper">
	<select id="chkMember" resultType="int" parameterType="hashMap">
		SELECT COUNT(*) FROM pjt.member WHERE mb_mail=#{mbMail} OR mb_id=#{mbId} 
	</select>
	
	<select id="getMember" resultType="com.co.kr.domain.LoginDomain" parameterType="hashMap">
		SELECT * FROM pjt.member WHERE mb_id=#{mbId} OR mb_id=#{mbMail}
	</select>
	
	<insert id="createMember" parameterType="com.co.kr.domain.LoginDomain">
		INSERT INTO pjt.member(
			mb_mail,
			mb_id,
			mb_pw,
			mb_salt
		)
		VALUES(
			#{mbMail},
			#{mbId},
			#{mbPw},
			#{mbSalt}
		)
	</insert>
	
	
	<!-- 
	Dummy
	<select id="mbSelectList" resultType="com.co.kr.domain.LoginDomain" parameterType="hashMap">
		SELECT * FROM jsp.member WHERE mb_seq=#{mbSeq}
	</select>
	
	<select id="mbGetAll" resultType="int">
		SELECT COUNT(*) FROM jsp.member
	</select>
	 -->
</mapper>