<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.MemberMapper">
	<!-- READ -->
	<select id="chkMember" resultType="int" parameterType="hashMap">
		SELECT COUNT(*) FROM pjt.member WHERE mb_id=#{mbId} 
	</select>
	
	<select id="chkMail" resultType="int" parameterType="hashMap">
		SELECT COUNT(*) FROM pjt.member WHERE mb_mail=#{mbMail}
	</select>
	
	<select id="chkCode" resultType="int" parameterType="hashMap">
		SELECT COUNT(*) FROM pjt.member WHERE mb_code=#{mbCode}
	</select>
	
	<select id="getMember" resultType="com.co.kr.domain.LoginDomain" parameterType="hashMap">
		SELECT * FROM pjt.member WHERE mb_id=#{mbId}
	</select>
	
	<select id="getCode" resultType="com.co.kr.domain.LoginDomain" parameterType="hashMap">
		SELECT * FROM pjt.member WHERE mb_code=#{mbCode}
	</select>
	
	<!-- CREATE -->
	<insert id="createMember" parameterType="com.co.kr.domain.LoginDomain">
		INSERT INTO pjt.member(
			mb_name,
			mb_mail,
			mb_id,
			mb_pw,
			mb_salt,
			mb_image
		)
		VALUES(
			#{mbName},
			#{mbMail},
			#{mbId},
			#{mbPw},
			#{mbSalt},
			#{mbImage}
		)
	</insert>
	
	<!-- UPDATE -->
	<update id="updateMember" parameterType="com.co.kr.domain.LoginDomain">
		UPDATE pjt.member SET
			mb_name=#{mbName},
			mb_mail=#{mbMail},
			mb_id=#{mbId},
			mb_pw=#{mbPw},
			mb_salt=#{mbSalt},
			mb_image=#{mbImage}
		WHERE mb_code=#{mbCode}
	</update>
	
	<!-- DELETE -->
	<delete id="deleteMember" parameterType="hashMap">
		DELETE FROM pjt.member WHERE mb_code=#{mbCode}
	</delete>
</mapper>