<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.co.kr.mapper.PostMapper">
	<!-- LAST 6 items -->
	<select id="getLastPost" resultType="com.co.kr.domain.PostDomain">
		SELECT * FROM pjt.post ORDER BY po_id DESC LIMIT 6
	</select>
	
	<select id="getSinglePost" resultType="com.co.kr.domain.PostDomain" parameterType="hashMap">
		SELECT * FROM pjt.post WHERE po_id=#{postId}
	</select>
	
	<insert id="createPost" parameterType="com.co.kr.domain.PostDomain">
		INSERT INTO pjt.post(
			po_author,
			po_authorid,
			po_title,
			po_subtitle,
			po_content,
			po_tags,
			po_authorimg,
			po_mimg,
			po_date
		)
		VALUES(
			#{postAuthor},
			#{postAuthorId},
			#{postTitle},
			#{postSubtitle},
			#{postContent},
			#{postTags},
			#{postAuthorimg},
			#{postMimg},
			#{postDate}
		)
	</insert>
	
	<update id="updatePost" parameterType="com.co.kr.domain.PostDomain">
		UPDATE pjt.post SET
			po_title=#{postTitle},
			po_subtitle=#{postSubtitle},
			po_content=#{postContent},
			po_tags=#{postTags},
			po_authorimg=#{postAuthorimg},
			po_mimg=#{postMimg}
		WHERE po_id=#{postId}
	</update>
	
	<delete id="deletePost" parameterType="hashMap">
		DELETE FROM pjt.post WHERE po_id=#{postId}
	</delete>
	
	<!-- GET POST LIST -->
	<select id="getPostList" resultType="com.co.kr.domain.PostDomain" parameterType="hashMap">
		SELECT * FROM pjt.post
		ORDER BY po_id DESC
		LIMIT #{start}, 10
	</select>
	
	<!-- GET POST COUNT -->
	<select id="getPostCount" resultType="int">
		SELECT count(*) FROM pjt.post
	</select>
</mapper>