<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
    <head>
        <title>Blog Posts</title>
        <style>
		</style>
    </head>
    <div layout:fragment="content">
        <main class="flex-shrink-0">
        	<div class="container px-5 my-5">
	        	<div class="row gx-5 justify-content-center">
	        		<table class="table">
	        			<colgroup>
	        				<col style="width: 15%"/>
	        				<col style="width: 30%"/>
	        				<col style="width: 20%"/>
	        				<col style="width: 15%"/>
	        				<col style="width: 15%"/>
	        				<col style="width: 10%"/>
	        			</colgroup>
	        			<thead>
	        				<tr>
	        					<th>Post Number</th>
	        					<th>Title</th>
	        					<th>Author</th>
	        					<th>Tags</th>
	        					<th>Date</th>
	        					<th style="color:#FFFFFF;">Manage</th>
	        				</tr>
	        			</thead>
	        			<tbody>
	        				<tr th:if=${itemsNotEmpty} th:each="item : ${items}">
	        					<td th:text="${item.postId}"></td>
	        					<td th:text="${item.postTitle}"></td>
	        					<td th:text="${item.postAuthor}"></td>
	        					<td th:text="${item.postTags}"></td>
	        					<td th:text="${item.postDate}"></td>
	        					<td>
	        						<a 
	        							th:href="@{/blog/post/{id}(id = ${item.postId})}"
	        							style="text-align:center; align-items:center;">
	        							보기
	        						</a>
	        					</td>
	        				</tr>
	        				<tr th:if=${itemsEmpty}>
	        					<td colspan="6" style="padding: 60px 0; text-align:center;">DATA NOT FOUND</td>
	        				</tr>
	        			</tbody>
	        		</table>
	        		
	        		<div style="text-align:center; padding:10px;" th:if=${itemsNotEmpty}>
	        			<ul style="padding:10px;">
	        				<th:block th:switch="${startpage} <= ${endpage}">
				                <li th:case="${rowNUM} < 0" style="display: none; padding:10px;">
				                    <a class="icon first" th:href="@{postList(page=${1})}">&laquo;</a>
				                </li>
				                <li th:case="${rowNUM} > ${startpage}" style="display: inline-block; padding:10px;">
				                    <a class="icon first" th:href="@{postList(page=${startpage})}">&laquo;</a>
				                </li>
				                <li th:case="${startpage} < 10" style="display: none; padding:10px;">
				                    <a class="icon first" th:href="@{postList(page=${startpage}-10)}">&laquo;</a>
				                </li>
				                <li th:case="${startpage} > 10" style="display: inline-block; padding:10px;">
				                    <a class="icon first" th:href="@{postList(page=${1})}">&laquo;</a>
				                </li>
				            </th:block>
				
				            <th:block th:switch="${rowNUM} >= 1">
				                <li th:case="(${rowNUM}-1) == 0" style="display: none; padding:10px;">
				                    <a class="icon first" th:href="@{postList(page=${1})}">&laquo;</a>
				                </li>
				                <li th:case="(${rowNUM}-1) > 0" style="display: inline-block; padding:10px;">
				                    <a class="icon prev" th:href="@{postList(page=${rowNUM}-1)}"></a>
				                </li>
				            </th:block>

				            <li th:each="i : ${#numbers.sequence(startpage, endpage)}" style="display: inline-block; padding:10px;">
				                <div class="on" th:if="${i}==${rowNUM}" th:text="${i}"></div>
				                <div th:unless="${i}==${rowNUM}">
				                    <a class="on" th:href="@{postList(page=${i})}" th:text="${i}"></a>
				                </div>
				            </li>

				            <th:block th:switch="${rowNUM} <= ${endpage}">
				                <li th:case="${rowNUM} < ${endpage}" style="display: inline-block; padding:10px;">
				                    <a class="icon next" th:href="@{postList(page=${rowNUM}+1)}"></a>
				                </li>
				                <li th:case="${rowNUM} == ${endpage}" style="display: none; padding:10px;">
				                    <a class="icon last" th:href="@{postList(page=${endpage})}"></a>
				                </li>
				            </th:block>
				
				            <th:block th:switch="${rowNUM} < ${endpage}">
				                <li th:case="${rowNUM} < ${endpage}" style="display: inline-block; padding:10px;">
				                <a class="icon last" th:href="@{postList(page=${startpage}+10)}"></a>
				                </li>
				            </th:block>
	        			</ul>
	        		</div>
	        	</div>
        	</div>
        </main>
	</div>
</html>