<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
    <head>
        <title>blog post</title>
    </head>
    <div layout:fragment="content">
        <main class="flex-shrink-0">
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                    	<!-- mini image -->
                        <div class="col-lg-3">
                            <div class="d-flex align-items-center mt-lg-5 mb-4">
                            	<!-- Small image -->
                                <img class="img-fluid rounded-circle" th:src="${item.postAuthorimg}" alt="..." th:if="${item.postAuthorimg != null}" style="width: 50px; height: 50px"/>
                                <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." th:unless="${item.postAuthorimg != null}"/>
                                
                                <div class="ms-3">
                                    <div class="fw-bold" th:text=${item.postAuthor}></div>
                                    <div class="text-muted" th:text=${item.postTags}></div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- in post -->
                        <div class="col-lg-9">
                            <!-- Post content-->
                            <article>
                                <!-- Post header-->
                                <header class="mb-4">
                                    <!-- Post title-->
                                    <h1 class="fw-bolder mb-1" th:text=${item.postTitle}></h1>
                                    <!-- Post meta content -->
                                    <div class="text-muted fst-italic mb-2" th:text=${item.postDate}></div>
                                </header>
                                
                                <!-- Preview image figure-->
                                <figure class="mb-4" th:if="${item.postMimg != null && item.postMimg != ''}"><img class="img-fluid rounded" th:src="${item.postMimg}" alt="..." style="width: 900px; height: 400px"/></figure>
                                <figure class="mb-4" th:unless="${item.postMimg != null && item.postMimg != ''}"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                                
                                <!-- Post content-->
                                <section class="mb-5">
                                    <p class="fs-5 mb-4" th:text=${item.postContent}></p>
                                </section>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </div>
</html>
